body {
    background: linear-gradient(to right, rgb(82, 181, 194), rgb(42, 88, 151));
}

h1 {
    font-family: 'Big Shoulders Stencil Display', cursive;
    text-align: center;
    color: rgb(4, 25, 63);
    font-size: 75px;
}

#center {
    margin: auto;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    width: 400px;
    margin: auto;
    border: 2px solid rgb(4, 25, 63);
}

.grid:hover {
    cursor: pointer;
}